/* Add CSS Styling */

.red{
    font-family: Verdana, DejaVu Sans, sans-serif;
    background-color:lightpink;

}

.element3 {
    font-size: 24px;
}

#id1 {
    font-size: 36px;
    color: blue;
}

#id2{
    font-size: 24px;
    background-color: lightgreen;
    font-weight: bold;
}