/* Add CSS Styling */

.btn1, .btn2 {
    font-family: Helvetica, "Times New Roman", sans-serif;
    font-size: 28px;
    border: 2px outset black;
}

.btn1{
    background-color: black;
    color: white;
}

.btn2{
    background-color: yellow;
    color: black;
}